@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

*{
    font-family: 'Arial';
    background-color: none;
}
body{
    margin: 0;
}

h1,h2,h3,h4,h5{
    color:white;
}
header{
    text-align: center;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 1200px;
}
select{
    margin:1em;
}
p{
    color:white;
}
.generador-container{
    width: 70%;
    display: flex;
}
.micha1{
    font-size: x-large;
    padding: 1em;
    width: 40%;
}
.micha2{
    padding: 1em;
    width:60%;
}

@media (max-width: 600px) {
    .generador-container{
        width: 100%;
        flex-direction: column;
    }
    .micha1, .micha2{
        display: flex;
        width: calc(100% - 2em);
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#gen-resultado{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 0.5em;
    width: 100%;
    height: 20em;
}

#gen-mes{
    margin-right: 1em;
}

.fila-junta{
    display: flex;
    align-items: center;
}
